{:queries {:node
           {:type (non-null :Node)
            :args {:id {:type (non-null ID)}}
            :resolve :resolve-node}}
 :objects
 {:PageInfo
  {:fields {:startCursor {:type (non-null String)}
            :endCursor {:type (non-null String)}
            :hasNextPage {:type (non-null Boolean)}
            :hasPreviousPage {:type (non-null Boolean)}}}
  
  :Product
  {:implements [:Node]
   :fields {:id {:type (non-null ID)}
            :seller {:type (non-null :Seller)}
            :reviews
            {:type (non-null :ReviewConnection)
             :args {:first {:type Int}
                    :last {:type Int}}
             :resolve :resolve-reviews}
            :likers
            {:type (non-null :UserConnection)
             :args {:first {:type Int}
                    :last {:type Int}}
             :resolve :resolve-likers}}}

  :ProductConnection
  {:implements [:Connection]
   :fields {:edges {:type (non-null (list (non-null :ProductEdge)))}
            :pageInfo {:type (non-null :PageInfo)}}}
  
  :ProductEdge
  {:implements [:Edge]
   :fields {:cursor {:type (non-null String)}
            :node {:type (non-null :Node)}}}

  :ReviewConnection
  {:implements [:Connection]
   :fields {:edges {:type (non-null (list (non-null :ReviewEdge)))}
            :pageInfo {:type (non-null :PageInfo)}}}

  :ReviewEdge
  {:implements [:Edge]
   :fields {:cursor {:type (non-null String)}
            :node {:type (non-null :Node)}}}

  :Review
  {:implements [:Node]
   :fields {:id {:type (non-null ID)}
            :author {:type (non-null :User)}
            :product {:type (non-null :Product)}}}

  :Seller
  {:implements [:Node]
   :fields {:id {:type (non-null ID)}
            :name {:type (non-null String)}
            :products
            {:type (non-null :ProductConnection)
             :args {:first {:type Int}
                    :last {:type Int}}
             :resolve :resolve-products}}}
  
  :Buyer
  {:implements [:Node]
   :fields {:id {:type (non-null ID)}
            :name {:type (non-null String)}
            :followings
            {:type (non-null :UserConnection)
             :args {:first {:type Int}
                    :last {:type Int}}
             :resolve :resolve-followings}}}

  :UserConnection
  {:implements [:Connection]
   :fields {:edges {:type (non-null (list (non-null :UserEdge)))}
            :pageInfo {:type (non-null :PageInfo)}}}

  :UserEdge
  {:implements [:Edge]
   :fields {:cursor {:type (non-null String)}
            :node {:type (non-null :Node)}}}}
 
 :interfaces
 {:Node {:fields {:id {:type (non-null ID)}}}
  :Edge {:fields {:cursor {:type (non-null String)}
                  :node {:type (non-null :Node)}}}
  :Connection {:fields {:edges {:type (non-null (list (non-null :Edge)))}
                        :pageInfo {:type (non-null :PageInfo)}}}}

 :unions
 {:User {:members [:Seller :Buyer]}}}
